<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <div
      style="
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
      "
    >
      <table
        style="
          width: 400px;
          height: 200px;
          border: 2px solid #8a5cf672;
          border-radius: 10px;
          background-color: #a457c9;
          border-collapse: collapse;
        "
      >
        <tr>
          <td colspan="2" style="text-align: center; padding: 10px">
            <span style="display: block; font-size: 20px; color: black"
              >ChatApp</span
            >
            <span style="display: block; font-size: 16px; color: black"
              >Reset Your Password</span
            >
          </td>
        </tr>
        <tr>
          <td colspan="2" style="text-align: center; padding: 10px">
            <a
              href="http://localhost:5173/users/reset-password/<%=token%>"
              style="
                background-color: #8b5cf6;
                text-decoration: none;
                color: white;
                padding: 8px;
                border-radius: 10px;
                width: 200px;
                display: inline-block;
                font-size: larger;
              "
            >
              Reset Now
            </a>
          </td>
        </tr>
      </table>
    </div>
  </body>
</html>
